@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  color: #4d4d52;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
}

.icon-planet {
  width: 220px;
  height: 220px;
  background: url(./assets/icons/planet.svg);
  background-size: cover;
  mask-image: url(./assets/icons/planet.svg);
  -webkit-mask-image: url(./assets/icons/planet.svg);
}
.icon-checkmark {
  width: 220px;
  height: 220px;
  background: url(./assets/icons/check-mark.svg);
  background-size: cover;
  mask-image: url(./assets/icons/check-mark.svg);
  -webkit-mask-image: url(./assets/icons/check-mark.svg);
}
.icon-target {
  width: 220px;
  height: 220px;
  background: url(./assets/icons/target.svg);
  background-size: cover;
  mask-image: url(./assets/icons/target.svg);
  -webkit-mask-image: url(./assets/icons/target.svg);
}

.icon-support-chat {
  width: 80px;
  height: 80px;
  background: url(./assets/icons/support-chat.svg);
  background-size: cover;
  mask-image: url(./assets/icons/support-chat.svg);
  -webkit-mask-image: url(./assets/icons/support-chat.svg);
}

.icon-book {
  width: 150px;
  height: 150px;
  background: url(./assets/icons/book.svg);
  background-size: cover;
  mask-image: url(./assets/icons/book.svg);
  -webkit-mask-image: url(./assets/icons/book.svg);
}

.icon-watch {
  width: 150px;
  height: 150px;
  background: url(./assets/icons/watch.svg);
  background-size: cover;
  mask-image: url(./assets/icons/watch.svg);
  -webkit-mask-image: url(./assets/icons/watch.svg);
}

.icon-underline {
  width: 321px;
  height: 11px;
  background: url(./assets/icons/underline.svg);
  background-size: cover;
  mask-image: url(./assets/icons/underline.svg);
  -webkit-mask-image: url(./assets/icons/underline.svg);
}

.icon-calendar {
  width: 100px;
  height: 100px;
  background: url(./assets/icons/calendarIcon.svg);
  background-size: cover;
  mask-image: url(./assets/icons/calendarIcon.svg);
  -webkit-mask-image: url(./assets/icons/calendarIcon.svg);
}

.icon-plus {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/plus.svg);
  background-size: cover;
  mask-image: url(./assets/icons/plus.svg);
  -webkit-mask-image: url(./assets/icons/plus.svg);
}
.icon-minus {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/minus.svg);
  background-size: cover;
  mask-image: url(./assets/icons/minus.svg);
  -webkit-mask-image: url(./assets/icons/minus.svg);
}

.icon-correct {
  width: 40px;
  height: 35px;
  background: url(./assets/icons/correct.svg);
  background-size: cover;
  mask-image: url(./assets/icons/correct.svg);
  -webkit-mask-image: url(./assets/icons/correct.svg);
}

.icon-rocket {
  width: 200px;
  height: 200px;
  background: url(./assets/icons/rocket.svg);
  background-size: cover;
  mask-image: url(./assets/icons/rocket.svg);
  -webkit-mask-image: url(./assets/icons/rocket.svg);
}

.icon-lightbulb {
  width: 200px;
  height: 200px;
  background: url(./assets/icons/lightbulb.svg);
  background-size: cover;
  mask-image: url(./assets/icons/lightbulb.svg);
  -webkit-mask-image: url(./assets/icons/lightbulb.svg);
}

.icon-chat {
  width: 200px;
  height: 200px;
  background: url(./assets/icons/chat.svg);
  background-size: cover;
  mask-image: url(./assets/icons/chat.svg);
  -webkit-mask-image: url(./assets/icons/chat.svg);
}

.icon-quoteup {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/quoteup.svg);
  background-size: cover;
  mask-image: url(./assets/icons/quoteup.svg);
  -webkit-mask-image: url(./assets/icons/quoteup.svg);
}

.icon-quotedown {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/quotedown.svg);
  background-size: cover;
  mask-image: url(./assets/icons/quotedown.svg);
  -webkit-mask-image: url(./assets/icons/quotedown.svg);
}

.icon-telephone {
  width: 120px;
  height: 120px;
  background: url(./assets/icons/telephone.svg);
  background-size: cover;
  mask-image: url(./assets/icons/telephone.svg);
  -webkit-mask-image: url(./assets/icons/telephone.svg);
}

.owl-item {
  width: initial !important;
}
