@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  color: #4d4d52;
  box-sizing: border-box;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
}

.icon-planet {
  width: 220px;
  height: 220px;
  background: url(./assets/icons/planet.svg);
  background-size: cover;
  mask-image: url(./assets/icons/planet.svg);
  -webkit-mask-image: url(./assets/icons/planet.svg);
}
.icon-checkmark {
  width: 220px;
  height: 220px;
  background: url(./assets/icons/check-mark.svg);
  background-size: cover;
  mask-image: url(./assets/icons/check-mark.svg);
  -webkit-mask-image: url(./assets/icons/check-mark.svg);
}
.icon-target {
  width: 220px;
  height: 220px;
  background: url(./assets/icons/target.svg);
  background-size: cover;
  mask-image: url(./assets/icons/target.svg);
  -webkit-mask-image: url(./assets/icons/target.svg);
}

.icon-support-chat {
  width: 80px;
  height: 80px;
  background: url(./assets/icons/support-chat.svg);
  background-size: cover;
  mask-image: url(./assets/icons/support-chat.svg);
  -webkit-mask-image: url(./assets/icons/support-chat.svg);
}

.icon-book {
  width: 150px;
  height: 150px;
  background: url(./assets/icons/book.svg);
  background-size: cover;
  mask-image: url(./assets/icons/book.svg);
  -webkit-mask-image: url(./assets/icons/book.svg);
}

.icon-watch {
  width: 150px;
  height: 150px;
  background: url(./assets/icons/watch.svg);
  background-size: cover;
  mask-image: url(./assets/icons/watch.svg);
  -webkit-mask-image: url(./assets/icons/watch.svg);
}

.icon-underline {
  width: 321px;
  height: 11px;
  background: url(./assets/icons/underline.svg);
  background-size: cover;
  mask-image: url(./assets/icons/underline.svg);
  -webkit-mask-image: url(./assets/icons/underline.svg);
}

.icon-calendar {
  width: 100px;
  height: 100px;
  background: url(./assets/icons/calendarIcon.svg);
  background-size: cover;
  mask-image: url(./assets/icons/calendarIcon.svg);
  -webkit-mask-image: url(./assets/icons/calendarIcon.svg);
}

.icon-calendar-mini {
  width: 50px;
  height: 50px;
  background: url(./assets/icons/calendarIcon.svg);
  background-size: cover;
  mask-image: url(./assets/icons/calendarIcon.svg);
  -webkit-mask-image: url(./assets/icons/calendarIcon.svg);
}

.icon-plus {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/plus.svg);
  background-size: cover;
  mask-image: url(./assets/icons/plus.svg);
  -webkit-mask-image: url(./assets/icons/plus.svg);
}

.icon-plus-norm {
  width: 30px;
  height: 30px;
  background: url(./assets/icons/plus.svg);
  background-size: cover;
  mask-image: url(./assets/icons/plus.svg);
  -webkit-mask-image: url(./assets/icons/plus.svg);
}

.icon-plus-mini {
  width: 26px;
  height: 26px;
  background: url(./assets/icons/plus.svg);
  background-size: cover;
  mask-image: url(./assets/icons/plus.svg);
  -webkit-mask-image: url(./assets/icons/plus.svg);
}

.icon-minus {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/minus.svg);
  background-size: cover;
  mask-image: url(./assets/icons/minus.svg);
  -webkit-mask-image: url(./assets/icons/minus.svg);
}

.icon-correct {
  width: 40px;
  height: 35px;
  background: url(./assets/icons/correct.svg);
  background-size: cover;
  mask-image: url(./assets/icons/correct.svg);
  -webkit-mask-image: url(./assets/icons/correct.svg);
}

.icon-rocket {
  width: 200px;
  height: 200px;
  background: url(./assets/icons/rocket.svg);
  background-size: cover;
  mask-image: url(./assets/icons/rocket.svg);
  -webkit-mask-image: url(./assets/icons/rocket.svg);
}

.icon-lightbulb {
  width: 200px;
  height: 200px;
  background: url(./assets/icons/lightbulb.svg);
  background-size: cover;
  mask-image: url(./assets/icons/lightbulb.svg);
  -webkit-mask-image: url(./assets/icons/lightbulb.svg);
}

.icon-chat {
  width: 200px;
  height: 200px;
  background: url(./assets/icons/chat.svg);
  background-size: cover;
  mask-image: url(./assets/icons/chat.svg);
  -webkit-mask-image: url(./assets/icons/chat.svg);
}

.icon-quoteup {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/quoteup.svg);
  background-size: cover;
  mask-image: url(./assets/icons/quoteup.svg);
  -webkit-mask-image: url(./assets/icons/quoteup.svg);
}

.icon-quotedown {
  width: 40px;
  height: 40px;
  background: url(./assets/icons/quotedown.svg);
  background-size: cover;
  mask-image: url(./assets/icons/quotedown.svg);
  -webkit-mask-image: url(./assets/icons/quotedown.svg);
}

.icon-telephone {
  width: 120px;
  height: 120px;
  background: url(./assets/icons/telephone.svg);
  background-size: cover;
  mask-image: url(./assets/icons/telephone.svg);
  -webkit-mask-image: url(./assets/icons/telephone.svg);
}

.icon-coin {
  width: 280px;
  height: 280px;
  background: url(./assets/icons/coin.svg);
  background-size: cover;
  mask-image: url(./assets/icons/coin.svg);
  -webkit-mask-image: url(./assets/icons/coin.svg);
}

.icon-checked {
  width: 25px;
  height: 25px;
  background: #fff;
  background-size: cover;
  mask-image: url(./assets/icons/checked.svg);
  -webkit-mask-image: url(./assets/icons/checked.svg);
}

.icon-checked-white {
  width: 13px;
  height: 9px;
  background: #fff;
  background-size: cover;
  mask-image: url(./assets/icons/check-white.svg);
  -webkit-mask-image: url(./assets/icons/check-white.svg);
}

.icon-papper-airplane {
  width: 220px;
  height: 220px;
  background: url(./assets/icons/paper\ airplane.svg);
  background-size: cover;
  mask-image: url(./assets/icons/paper\ airplane.svg);
  -webkit-mask-image: url(./assets/icons/paper\ airplane.svg);
}

.icon-messages {
  width: 50px;
  height: 50px;
  background: url(./assets/icons/messages.svg);
  background-size: cover;
  mask-image: url(./assets/icons/messages.svg);
  -webkit-mask-image: url(./assets/icons/messages.svg);
}

.icon-profile {
  width: 50px;
  height: 50px;
  background: url(./assets/icons/profileimg.svg);
  background-size: cover;
  mask-image: url(./assets/icons/profileimg.svg);
  -webkit-mask-image: url(./assets/icons/profileimg.svg);
}

.icon-profiletoggle {
  width: 16px;
  height: 8px;
  background: url(./assets/icons/profiletoggle.svg);
  background-size: cover;
  mask-image: url(./assets/icons/profiletoggle.svg);
  -webkit-mask-image: url(./assets/icons/profiletoggle.svg);
}

.icon-cross {
  width: 222px;
  height: 222px;
  background: url(./assets/icons/cross.svg);
  background-size: cover;
  mask-image: url(./assets/icons/cross.svg);
  -webkit-mask-image: url(./assets/icons/cross.svg);
}

.icon-qiwi {
  width: 80px;
  height: 30px;
  background: url(./assets/icons/qiwi.svg);
  background-size: cover;
  mask-image: url(./assets/icons/qiwi.svg);
  -webkit-mask-image: url(./assets/icons/qiwi.svg);
}
.icon-webmoney {
  width: 110px;
  height: 30px;
  background: url(./assets/icons/webmoney.svg);
  background-size: cover;
  mask-image: url(./assets/icons/webmoney.svg);
  -webkit-mask-image: url(./assets/icons/webmoney.svg);
}

.owl-item {
  width: initial !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.main-button:hover ~ .main-button-shadow {
  top: 5px;
  left: 5px;
}

.main-button:active ~ .main-button-shadow {
  top: 0;
  left: 0;
}

.stepRange {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: #ebf5ff;
  background-image: linear-gradient(#7872b9, #7872b9);
  background-size: 31% 100%;
  cursor: pointer;
  background-repeat: no-repeat;
}

.stepRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #7872b9;
  background: #7872b9;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

.stepRange::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #7872b9;
  background: #7872b9;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

.stepRange::-ms-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #7872b9;
  background: #7872b9;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

/* Input Track */
.stepRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.stepRange::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.stepRange::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.rangeCircle {
  top: 24px;
  left: 95px;
}

/* REACT CALENDAR */

.react-calendar {
  width: 300px !important;
  /* margin: 0 auto; */
  /* padding: 0 110px; */
  background-color: #f9fcff;
  border-radius: 20px;
  font-size: 16px !important;
}

.react-calendar button {
  padding: 12px 0;
  text-align: center;
  border-radius: 100%;
  color: #7872b9;
  font-size: 16px;
  transform: scale(0.8);
  font-weight: 500 !important;
}

.react-calendar__navigation__label {
  display: flex;
  align-items: flex-end;
  border-radius: 0 !important;
  padding: 0 !important;
  font-weight: 500;
  transform: none !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: #7872b9 !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.react-calendar__navigation__label:hover {
  background-color: transparent !important;
}

.react-calendar__navigation__arrow {
  display: none !important;
}
.react-calendar__navigation__next2-button {
  display: none !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(120, 114, 185, 0.5) !important;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

/* 
.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: 7;
} */

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #9691d2;
  color: #fff !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #9691d2;
  color: #fff !important;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #7872b9;
  color: #fff !important;
  font-weight: 600;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #7872b9;
  color: #fff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.tariffSection {
  scrollbar-color: #7872b9 #e0e0e0;
  scrollbar-width: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.remove-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.remove-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
